h2{
    color:red;
}
p{
    color:brown;
    
    text-align:left;
    font-size:16px;
    font-family:'Times New Roman', Times, serif;
}
.par{
    color:chartreuse;
}
#ac{
    color:yellowgreen;
}
div{
    color:red;
    
    height:100px;
    width:1200px;
    
    
    text-align:left;
    padding:3px;
    margin:20px;
    border:2px double rgb(177, 210, 31);
}
h1{
    text-align:center;
}
.box{

}