h2{
    color:red;
}
p{
    text-align: center;
}
.par{
    color:chartreuse;
}
#ac{
    color:yellowgreen;
}
div{
    color:red;
    
    height:100px;
    width:1200px;
    
    
    text-align:left;
    padding:3px;
    margin:20px;
    border:2px double rgb(177, 210, 31);
}
h1{
    text-align:center;
}
.aarav{
    display: block;
}
.aar{
    display:inline;
}
.mam{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px;
    padding: 20px;
    height:300px;
    width:200px;
    text-align: center;
    
}