h2{
    color:red;
}
p{
    color:brown;
    background-color: black;
    text-align:justify;
    font-size:175%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.par{
    color:chartreuse;
}
#ac{
    color:yellowgreen;
}